@import "tailwindcss";

@font-face{
    font-family: Inter;
    src: url(/Inter-VariableFont_opsz,wght.ttf);
}

@font-face{
    font-family: Mont;
    src: url(/Montserrat-VariableFont_wght.ttf);
}

html, body p{
    font-family: Inter;
}
html, body li{
    font-family: Inter;
}
html, body h1, h2, h3, h4{
    font-family: Mont;
    
}